/* Modification des couleurs de base */
$primary: #091f43;
$secondary: #b4b4b4;
$info: #cc535a;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap");
$headings-font-family: "Montserrat", sans-serif;

$nav-link-font-size: 1.3rem;
